@model Core_App.Models.Book.Book

<div>
    <h3>Books Details </h3>

    <div>
        Book Id : @Model.Id
    </div>

    <div>
        Book Name : @Model.Name
    </div>
</div>

@section Scripts {
 
}

